* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.mobile-frame {
  width: 300px;
  height: 600px;
  border-radius: 36px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.mobile-screen {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  background-color: #fffdc4;
  border: solid 5px black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topo {
  background: #73C043;
  padding: 45px;
  width: 100%;
  text-align: center;
}

h3{
  color: white;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

button {
  background: #5c913b;
  border: none;
  border-radius: 15px;
  padding: 5px;
  color: white;
  width: 150px;
  transition: 0.5s;
}

button:hover {
  background: #d40e16;
  border: none;
  border-radius: 15px;
  padding: 5px;
  color: white;
  width: 150px;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  justify-content: space-around;
  background: #5c913b;
  padding: 5px;
  list-style: none;
}

.footer-icons li a{
  display: flex;
  justify-content: center;
  background: #5c913b;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  transition: 0.5s;
}

.footer-icons li a img{
  width: 50%;
}

ul li a:hover {
  background: #D40E16;
}

.mapBox{
  position: relative;
  width: 100%;
  height: 300px;
  background: #fff;
}

.mapBox iframe{
  width: 100%;
  height: 100%;
}

input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  width: 75%;
}

input:focus {
  border-color: #73C043; 
  box-shadow: 0 0 8px rgba(115, 192, 67, 0.5); 
  outline: none; 
}