* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .mobile-frame {
    width: 300px;
    height: 600px;
    background-color: #333;
    border-radius: 36px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .mobile-screen {
    width: 100%;
    height: 100%;
    border-radius: 36px;
    background-color: #ffdc4f;
    border: solid 5px black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .screen-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .mobile-screen::before {
    content: '';
    width: 60px;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Bottom home button */
  .mobile-frame::after {
    content: '';
    width: 80px;
    height: 5px;
    background-color: #333;
    border-radius: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  img{
    width: 250px;
    height: 100%;
    transition: 0.5s;
  }

  img:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button{
    background: #5c913b;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: white;
    width: 150px;
    transition: 0.5s;
  }

  button:hover{
    background: #D40E16;
    border: none;
    border-radius: 15px;
    padding: 5px;
    color: white;
    width: 150px;
    cursor: pointer;
  }

  